<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>UserAuthentication</servlet-name>
        <servlet-class>com.flower.controllers.UserAuthentication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAuthentication</servlet-name>
        <url-pattern>/UserAuthentication</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecoveryUserPassword</servlet-name>
        <servlet-class>com.flower.controllers.RecoveryUserPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecoveryUserPassword</servlet-name>
        <url-pattern>/RecoveryUserPassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationUser</servlet-name>
        <servlet-class>com.flower.controllers.RegistrationUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationUser</servlet-name>
        <url-pattern>/RegistrationUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivationUserAccount</servlet-name>
        <servlet-class>com.flower.controllers.ActivationUserAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivationUserAccount</servlet-name>
        <url-pattern>/ActivationUserAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllServices</servlet-name>
        <servlet-class>com.flower.controllers.GetAllServices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllServices</servlet-name>
        <url-pattern>/GetAllServices</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllProviders</servlet-name>
        <servlet-class>com.flower.controllers.GetAllProviders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllProviders</servlet-name>
        <url-pattern>/GetAllProviders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetServiceByProviderId</servlet-name>
        <servlet-class>com.flower.controllers.GetServiceByProviderId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetServiceByProviderId</servlet-name>
        <url-pattern>/GetServiceByProviderId</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CheckSecurityPage</filter-name>
        <filter-class>com.flower.filters.CheckSecurityPage</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckSecurityPage</filter-name>
        <url-pattern>/sec/*</url-pattern>
    </filter-mapping>


</web-app>