/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body {
    height: 100%
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    background: none repeat scroll 0 0 #edf1f5;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;

}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 64px;
    background: none repeat scroll 0 0 #edf1f5;
}

#logo {
    cursor: pointer;
    float: left;
    background: none repeat scroll 0 0 #edf1f5;
    height: 64px;
    width: 64px;
}

#logotext {
    font-family: "wf_SegoeUI";
    font-size: 32px;
    line-height: 64px;
    height: 64px;
    padding: 0px 0px 0px 20px;
    color: #5c6fa6;
    height: 64px;
    width: 500px;
    float: left;
}

#menu {

    background: none repeat scroll 0 0 #edf1f5;
    cursor: pointer;
    padding: 0 0 0 170px;
    /*float: right;*/
    height: 64px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;

    display: table-cell;
    vertical-align: middle;

}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu li {
    background: none repeat scroll 0 0 #4e77a9;
    color: #fff;
    display: inline-block;
    float: right;
    font-family: "wf_SegoeUI";
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    list-style: outside none none;
    margin: 0 0 0 1px;
    padding: 0 18px;
    text-decoration: none;
    text-transform: uppercase;

}

#menu li a {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;

}

#menu li:hover {
    background: none repeat scroll 0 0 #27a1ce;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    position: relative;
    /*background: #FFACAA;*/
    background: none repeat scroll 0 0 #edf1f5;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 270px 0 270px;
}

#centerlogo {
    cursor: pointer;
    float: left;
    background: none repeat scroll 0 0 #edf1f5;
    height: 500px;
    width: 500px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    height: 50px;
    background: #BFF08E;
    /*background: none repeat scroll 0 0 #edf1f5;*/




}