/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0 0 #edf1f5;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 64px;
    background: none repeat scroll 0 0 #edf1f5;
}

#logo {
    cursor: pointer;
    float: left;
    background: none repeat scroll 0 0 #edf1f5;
    height: 64px;
    width: 64px;
}

#logotext {
    font-family: "wf_SegoeUI";
    font-size: 32px;
    line-height: 64px;
    height: 64px;
    padding: 0 0 0 20px;
    color: #5c6fa6;
    height: 64px;
    width: 500px;
    float: left;
}

#menu {
    color: #fff;
    background: none repeat scroll 0 0 #edf1f5;
    cursor: pointer;
    padding: 0 0 0 170px;
    /*float: right;*/
    height: 64px;
    line-height: 64px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu li {
    background: none repeat scroll 0 0 #4e77a9;
    color: #fff;
    display: inline-block;
    float: right;
    font-family: "wf_SegoeUI";
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    list-style: outside none none;
    margin: 0 0 0 1px;
    padding: 0 18px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu li a {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;

}

#menu li:hover {
    background: none repeat scroll 0 0 #27a1ce;
}

.login-form {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 250px;
    /*position: absolute;
    right: 2px;*/

    position: relative;
    margin: 0 0 0 570px;

    text-align: left;
    /*top: 0px;*/
    width: 292px;
    z-index: 10000;
}

.login-form form {
    margin: 0 !important;
}

.login-form h3 {
    border-bottom: 2px solid #edf1f5;
    color: #008abd;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    padding: 12px 20px 20px;
    text-align: left;
}

.login-form p {
    font-family: "wf_SegoeUILight";
    margin-bottom: 10px;
    margin-left: 20px;
}

.login-form p label {
    display: inline-block;
    vertical-align: middle;
    width: 62px;
}

.login-form p input[type="text"] {
    vertical-align: middle;
    width: 166px;
}

.login-form input[type="button"] {
    background: #4e77a9 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-family: "wf_SegoeUILight";
    font-size: 18px;
    height: 65px;
    width: 100%;
}

.logintext {
    width: 166px;
}

.login-form input[type="button"]:hover {
    background: #27a1ce none repeat scroll 0 0;
}

.login-form .link {
    padding: 6px 0 10px;
}

.login-form .link a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #008abd;
    display: inline !important;
    padding: 0;
    text-decoration: underline;
}

.login-form .link a:hover {
    text-decoration: none;
}

.login-form .link a:first-child {
    margin-left: 25px;
    margin-right: 70px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding: 0 0 100px;
}

.content {
    padding: 100px 270px 0 270px;
}

.reg-form {
    margin-left: 25px;
}

.reg-form p {
    margin: 0 0 14px !important;
    padding: 0 !important;
}

.reg-form h3 {
    color: #008abd;
    font-size: 14px;
    margin-bottom: 15px;
}

.reg-form label {
    display: inline-block;
    margin: 0 !important;
    width: 250px;
}

.reg-form input[type="text"] {
    margin: 0 !important;
    width: 170px !important;
}

.reg-form .row-button {
    left: -25px;
    position: relative;
}

.reg-form .row-button input[type="button"] {
    background: #008abd none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-family: "wf_SegoeUI";
    font-size: 14px;
    height: 32px;
    left: 0;
    position: relative;
    vertical-align: middle;
    width: 162px;
}

.reg-form .row-button input[type="button"]:hover {
    background: #4e77a9 none repeat scroll 0 0;
}

.reg-form .b-input {
    height: 85px;
    margin-bottom: 20px;
    width: 435px;
}

.reg-form textarea {
    font-family: "wf_SegoeUI";
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

input[type="password"] {
    background: whitesmoke url("../img/input.gif") repeat-x scroll 0 0;
    border-left: 1px solid #d3d1cf;
    border-top: 1px solid #d3d1cf;
    color: #999;
    font-family: "wf_SegoeUI";
    font-size: 14px;
    margin-bottom: 0;
}

input[type="text"] {
    background: whitesmoke url("../img/input.gif") repeat-x scroll 0 0;
    border-left: 1px solid #d3d1cf;
    border-top: 1px solid #d3d1cf;
    color: #999;
    font-family: "wf_SegoeUI";
    font-size: 14px;
}

.reg-form input[type="text"] {
    margin: 0 !important;
    width: 170px !important;
}

.reg-form input[type="password"] {
    margin: 0 !important;
    width: 170px !important;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 1000px;
    margin: -32px auto 0;
    height: 32px;
    /*background: #BFF08E;*/
    position: relative;
    background: none repeat scroll 0 0 #edf1f5;
}

.overlay {
    background: transparent url("../img/overlay.png") repeat scroll left top;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}